@page "/review"
@using SharedComponents
@using System.Text.Json;

<MenuBar />

<h1>Reviews</h1>
<hr style="border: 1px solid #800000" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>


<body class="center" style="width:100%; color:white">
    <p>Enter your own Review!</p>
    <form>
        <label class="labelrow">Name:</label>
        <input class="inputrow" type="text" name="name" @bind="@name">
        <br><br>
        <label class="labelrow">What did you think:</label>
        <input class="inputrow" type="text" name="review" size="150" @bind="@review">
        <br><br>
        <button class="btn btn-primary" @onclick="submitReview">Submit</button>
        <br><br>
        <ul>
            @foreach (var reviewer in reviewList) {
                /*<li>@reviewer.name : @reviewer.review</li>*/
            }
        </ul>
    </form>
</body>



@code {
    private string name;
    private string review;
    private List<string> reviewList = new();
    //private List<Account> reviewList = new();

    protected override async Task OnInitializedAsync() {
        // read JSON to list


    }

    private void submitReview() {
        if (!string.IsNullOrWhiteSpace(name) && !string.IsNullOrWhiteSpace(review)) {
            //reviewers.Add(new Account { });
            // write JSON file

        }
    }
}
