@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/myaccount" target="_blank"></a>
            <NavLink class="nav-link" href="myaccount" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> My Account
            </NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
